button {
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid $color-primary-deepcerise;
    color: #fff;
    background-color: $color-primary-deepcerise;
    padding: 5px 0;
    width: 100%;
    margin: 20px 0;
}
